/* General */

* {
	box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: #555;
	font-family: sans-serif;
	display: flex;
	overflow: hidden;
}
h3 {
	margin: 0.3em;
	margin-top: 0px;
	margin-bottom: 0px;
}

/* Game Container */

.game-container {
	position: absolute;
	width: 75vw;
	height: 96vh;
    margin-top: 2vh;
    margin-left: 2vh;
	overflow: hidden;
    image-rendering: pixelated;
    background-color: #223;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
}

/* Coeedd stuff */

.code-inputs {
    position: absolute;
    width: 19vw;
    height: 96vh;
    margin-top: 2vh;
    right: 2vw;
}

.codebox {
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0,0,0,1);
    height: 45%;
    margin-bottom: 10%;
    margin-top: 10%;
    padding: 20px;
	background-color: #333;
}

textarea {
    border: none;
    width: 100%;
    height: 80%;
    resize: none;
    background-color: #00000000;
	color: white;
	font-size: 12px;
	font-family: monospace;
	resize: vertical;
	overflow: auto;
	resize: none;
}

.resetButton {
	width: 28px;
	height: 28px;
	background-color: rgb(187, 71, 71);
	background-size: cover;
	position: relative;
	top: -12px;
	left: 93%;
	cursor: pointer;
	border-radius: 14px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-image: url(images/ResetIcon.png);
	transition: all 0.2s ease;
}

.resetButton:active {
	box-shadow: 0 0 5px rgba(0,0,0,0.5);
	top: -11px;
}

.resetButton:hover {
	filter: brightness(1.2);
}

h2 {
	margin: 0px;
	font-size: 12px;
	font-family: monospace;
	color: white;
	font-weight: normal;
}

textarea:focus {
	outline: none;
}

/* Respawn */

.respawn-container {
	z-index: 2;
	align-items: center;
	justify-content: center;
}

#respawn {
	text-align: center;
}

/* More General */

label {
	display: block;
	font-weight: bold;
}

input[type="text"], 
button {
	font-family: inherit;
	font-weight: bold;
	font-size: 18px;
	height: 44px;
	border-radius: 4px;
	outline: 0;
}

input[type="text"] {
	outline: 0;
	padding-left: 0.5em;
	border: 3px solid #222034;
	width: 150px;
	text-transform: none;
}

input[type="text"]:focus {
	border-color: #f000ff;
}

button {
	padding-left: 0.5em;
	padding-right: 0.5em;
	background: #59ff5a;
	border: 0;
	border-bottom: 2px solid #1e830b;
	cursor: pointer;
}

button:active:not(#up-move) {
	position: relative;
	top: 1px;
}

/* More Chat */

#chat-display {
	text-align: right;
	align-self: right;
	right: 0px;
	font-weight: bold;
	position: relative;
	bottom: 70px;
	left: 210px;
	overflow: hidden;
}

/* Characters */

.Character {
	position: absolute;
	width: 32px;
	height: 32px;
	text-align: center;
    z-index: 9;
}

.Character.you {
	z-index: 10;
}

.Character_sprite {
	width: 64px;
	height: 64px;
	background: url(images/Player.png);
    scale: 2;
    left: -16px;
    top: -16px;
	position: relative;
	z-index: 9;
}

.Character_name-container {
  position: absolute;
  top: -30px;
  left: -34px;
  font-size: 10px;
  font-weight: bold;
  text-transform: none;
  width: 100px;
  z-index: 10;
}
.Character_name {
  color: black;
}
/* Walls */

#leftWall, #rightWall, #topWall, #bottomWall {
	background-color: #112;
}

#leftWall {
	position: absolute;
	width: 10px;
	border-radius: 5px;
    margin: 0px;
}

#rightWall {
	position: absolute;
	width: 10px;
	border-radius: 5px;
    margin: 0px;
}

#topWall {
	position: absolute;
	height: 10px;
	border-radius: 5px;
    margin: 0px;
}

#bottomWall {
	position: absolute;
	height: 10px;
	border-radius: 5px;
    margin: 0px;
}

/* Bullets */

.Bullet {
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 5;
}

.Bullet_sprite {
    width: 16px;
    height: 16px;
    z-index: 5;
    background: url(images/Bullet.png);
    scale: 1.5;
}

/* Enemies */

.Enemy {
	position: absolute;
	width: 32px;
	height: 32px;
	z-index: 5;
}

.Enemy_sprite {
	width: 64px;
	height: 64px;
	background: url(images/Enemy.png);
	scale: 2;
	left: -16px;
	top: -16px;
	position: relative;
	z-index: 5;
}

/* Score */

#scoredisplay {
	color: white;
	position: absolute;
	top: 3vh;
	left: 3vw;
	z-index: 20;
	font-size: 20px;
}